/*deoxa a rolagem suave*/
html {
    scroll-behavior: smooth; /* Rola suavemente para as âncoras */
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
/*cores*/
:root{
    --background_color: #0d0d2b;
    --background_color_two: #131335; 
    
    --main_one: #A40148;
    --main_two: #790034;
    --second_color: rgb(46, 46, 98);

    --text_one:#ffffff;
    --text_two:#bdbdbd;
}

body{
    background-color: var(--main_one);
}

/*scrollbar*/
::-webkit-scrollbar{

    height: 10px;
    width: 5px;
    
    /*animation: background-bar 4s alternate infinite;*/
}
::-webkit-scrollbar-thumb{
    background-color: var(--text_two);
    
}
::-webkit-scrollbar-track{
    background-color: var(--background_color);
    height: 10px;
    margin: 2px;
}
::-webkit-scrollbar-button{
    background-color: var(--background_color);
    height: 2px;
}


.a{
    color: var(--text_one);
}
.a:active {
    color: var(--background_color_two);
}
.a:hover {
    text-decoration: underline;
}



.returnTop{
    position:  fixed;
    z-index: 2;
    bottom: 0;
    right: 47%;
    background-color: #ffffff1c;
    opacity: 1000px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.section-1,.section-2,.section-3{
    height: 100vh;
    animation: key-visible linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

/*#region-----primeiro conteiner-----*/
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background_color);
    background-image:url("./img-background/estudante.jpg") ; /*colocar imagem aqui >>>>>>>>>>>>>>>>>>*/
    background-size: cover;
    
}
/*caixa com titulo*/
.box-blur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    color: var(--text_one);
    background: rgba(217, 217, 217, 0.20);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    border: solid 1px var(--text_two);
}
.box-blur h1{
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box-blur h3{
    color: var(--text_one);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*botão da caixa*/
.section-1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
    border-radius: 10px;
    border-right: 3px solid var(--main_one);
    border-bottom: 3px solid var(--main_one);
    box-shadow: 2px 2px 10px rgb(9, 0, 0);
    background: #E6E6E6;
    color: var(--main_one);

    text-align: center;
    text-decoration: none;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-1 a:hover{
    transform: scale(1.03);
}
.section-1 a:active{
    transform: scale(0.9);
}
/*#endregion*/

/*#region-----segundo conteiner-----*/
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image:url("") ;
    background-color: var(--background_color_two);
    box-shadow: 1px 0px 10px black;
}

/*Cima*/
.sec2-up .sec2-text{
    margin: 20px;
    color: var(--text_one);
}

/*Centro*/

/*cards*/
.section-2 .sec2-center{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;

}
.card:hover .flip{
    transform: rotateY(180deg);
}
.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.3s;
}
.frondend,.backend{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px; 
    backface-visibility: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}

.frondend{
    background-color: rgb(164, 192, 173);
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}
.frondend h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text_one);
    background-color:var(--main_two);
    width: 90%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
}
.backend{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: var(--main_one);
    color: var(--text_one);
    transform: rotateY(180deg);
}
.backend p{
    text-align: left;
    margin: 10px;
    
}
.card-1{
    background-image: url('./img-background/student_sarah.svg'); /*colocar imagem aqui >>>>>>>>>>>>>>>>>>*/
    background-size: cover;
    transform: translateY(10px);
    animation: key-visible-bottom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}
.card-2{
    background-image: url('./img-background/student_pedro.svg'); /*colocar imagem aqui >>>>>>>>>>>>>>>>>> ./img-background/student_pedro.svg*/
    background-size: cover;
    transform: 10px;
    transform: translateY(10px);
    animation: key-visible-bottom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}
.card-3{
    background-image: url('./img-background/student_quezia.svg'); /*colocar imagem aqui >>>>>>>>>>>>>>>>>>*/
    background-size: cover;
    transform: 15px;
    transform: translateY(10px);
    animation: key-visible-bottom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

/*baixo*/

.sec2-bottom .sec2-text{
    margin: 20px;
    color: var(--text_one);
}
/*#endregion*/

/*-----terceiro conteiner-----*/
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image:url("") ;
    background-color: var(--background_color);
    box-shadow: 1px 0px 10px black;
    border: solid 1px black;
    border-radius: 0px 0px 30px 30px;
}
/*sec3 cima*/
.sec3-up{
    position: relative;
    display: flex;
    align-items: center;
    height: 730px;
    background-image:url("") ;
    background-color:var(--background_color);
    animation: key-visible linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.sec3-up .sec3-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}

.buttom-select{
    color: #FFF;
    font-size: 24px;
    line-height: normal;
    background-color: var(--main_one);
    border: none;
    width: 300px;
    height: 60px;
    cursor: pointer;
    border-radius: 30px;
}

.sec3-left h3{
    color: var(--text_one);
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: 0px 40px 0px 40px;


}
@keyframes key-visible {
   from{
        opacity: 0.7;
   } 
   to{
        opacity: 1;
   }
}
@keyframes key-visible-bottom {
    from{
        opacity: 0.5;
        transform: translateY(100px);
   } 
   to{
        opacity: 1;
        transform: translateY(0px);
   }
}

.sec3-right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 30px 0px 0px 30px;

}

.sec3-right img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /*mude aqui o tamanho da image,*/
}


/*sec3 baixo*/
.sec3-bottom{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    /* border: solid 1px black;
    border-radius: 20px 20px 20px 20px; */
    transform:scale(1.3);
}

.sec3-bottom a{
    transition: 2s;
}
/*botão de voltar para o topo*/
.sec3-bottom a img:hover {
    transform: scale(1.1);
}
.sec3-bottom  a img:active{
    transform:scale(0.9);
    filter: brightness(0) saturate(100%) invert(7%) sepia(91%) saturate(6405%) hue-rotate(328deg) brightness(106%) contrast(100%);
}



/*-----Footer bonitão igual o Gabriel henrique-----*/
footer{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--main_one);
}

/*titulo do footer*/
.footer-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-up h3{
    color: #FFF;
    font-family: "Inknut Antiqua";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*centro do footer*/
.footer-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;

}

.footer-main .div-line{
    height: 100px;
    background-color: #131335;
    border-left: 3px solid  var(--text_one);
}

.footer-main a{
    text-decoration: none;
    color: var(--text_one);
}

.footer-left, .footer-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    gap: 10px;
    text-align: left;
}


.footer-center{
    display: flex;
    flex-direction: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    gap: 20px;
}
.footer-center a:hover {
    transform: scale(1.1);
}
.footer-center a:active {
    transform: scale(0.9);
}

.footerC-instagram,.footerC-linkedin,.footerC-github{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
}
.icon-footer{
    width: 40px;
    margin: 20px;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text_one);
   
}
.footer-bottom .bottom-line{
    width: 100%;
    height: 1px;
    border: solid 1px var(--text_one);
    border-bottom: solid 1px var(--text_one);
}
.footer-bottom p{
    margin-top: 5px;
    margin-bottom: 5px;
}