/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 800;
}
/*cores*/
:root{
    --background_color: #0d0d2b;
    --background_color_two: #131335; 
    
    --main_one: #A40148;
    --main_two: #790034;
    --second_color: rgb(46, 46, 98);

    --text_one:#ffffff;
    --text_two:#bdbdbd;
}

/* Corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background_color);
    color: #ffffff;
}

/*scrollbar*/
::-webkit-scrollbar{

    height: 10px;
    width: 5px;
    
    /*animation: background-bar 4s alternate infinite;*/
}
::-webkit-scrollbar-thumb{
    background-color: var(--text_two);
    
}
::-webkit-scrollbar-track{
    background-color: var(--background_color);
    height: 10px;
    margin: 2px;
}
::-webkit-scrollbar-button{
    background-color: var(--background_color);
    height: 2px;
}



/* Estilização principal */
main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--background_color) ;
    border-radius: 15px;
    overflow: hidden;
}


/* Seção esquerda (título) */
.section-left {
    flex: 1;
    background-color: var(--background_color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/*botão de voltar*/
.return{
    position: absolute;
    left: 40px;
    top: 30px;
}

.return img:hover {
    transform: scale(1.1);
}
.return  img:active{
    transform:scale(0.9);
    filter: brightness(0) saturate(100%) invert(7%) sepia(91%) saturate(6405%) hue-rotate(328deg) brightness(106%) contrast(100%);
}

/*titulo*/
.section-left h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: "Parkinsans", sans-serif;
    font-weight: lighter;
    font-weight: 200;
}

/*Animação de texto da esquerda*/
.section-left h1 span{
    position: relative;
    font-family: "Parkinsans", sans-serif;
    font-weight: lighter;
    font-weight: 200;
}
.section-left h1 span::before{
    content: "";
    color: var(--text_one);
    animation: key_not 8s 1 forwards;
}
.section-left h1 span::after{
    content: "";
    border-left: 2px solid var(--text_one);
    position: absolute;
    height: 100%;
    right: -10px;
    animation: key_cursor .5s infinite,
               key_del 8s steps(15) 1 forwards;
    width: calc(100% + 10px);
    background-color: var(--background_color);
}
@keyframes key_del {
    0%, 33%, 66% {
        width: calc(100% + 10px); /* Expandir */
    }
    10%, 25%, 40%, 55%, 70% {
        width: 0; /* Reduzir */
    }
    95%, 100% {
        width: 0; /* Finalizar no 0 */
    }
}
@keyframes key_not {
    0%, 33% {
        content: "ização";
    }
    34%, 66% {
        content: "izar";
    }
    67%, 100% {
        content: "ize-se";
    } 
}
@keyframes key_cursor {
    0%{
        border-left: 2px solid var(--background_color);
    }
    50%{
        border-left: 2px solid var(--text_one);
    }
    100%{
        border-left: 2px solid var(--background_color);
    }
}


/* Seção direita (formulário) */
.section-right {
    flex: 1;
    padding: 40px;
    display: flex;
    height: 90%;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background_color_two);
    border-radius: 10px;
    border: solid var(--main_two);
    border-left: none;
    border-top: none;
    margin: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}


/* Título do formulário */
.table-up h2 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário de login */
.table-center .form {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}
.table-center label {
    width: 150px; 
    margin-right: 10px; 
}
.table-center input {
    width: 100%;
    padding: 0px 15px 0px 15px; 

}

.table-center form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.table-center label {
    font-size: 1.2rem;
    color: #ffffff;
}

.table-center input {
    padding: 12px;
    font-size: 1rem;
    color: var(--text_one);
    background-color: #e0e0e0;
    border: none;
    outline: none;
    background-color: var(--background_color_two);
    border: 2px solid var(--main_one);
    border-left: none;
    border-right: none;
    border-top: none;
    transition: border 0.3s, border-radius 0.3s, background-color 0.3s;
}

.table-center input:focus {
    border: 2px solid var(--main_one);
    border-radius: 20px;
    background-color: var(--second_color);
   
}
.table-center input:hover{
    background-color: var(--second_color);
    transition: background-color 0.1s;
    
}

/* Link para redefinir senha */
.link-redefinir{
    display: flex;
    justify-content: right;
}
.table-center a {
    font-size: 0.9rem;
    color: var(--main_one);
    text-decoration: none;
    margin-top: 10px;
    text-align: right;
}

.table-center a:hover {
    text-decoration: underline;
}
.table-center a:active{
    color: var(--text_one);
}

/* Botão de login */
.table-down {
    text-align: center;
    margin-top: 20px;
}

.table-down button {
    width: 50%;
    padding: 12px;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--main_one);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 60px;
}

.table-down button:hover {
    background-color: var(--main_two);
}
.table-down button:active{
    transform: scale(0.9);
}

/* Link para cadastro */
.table-down a {
    display: block;
    margin-top: 15px;
    font-size: 0.9rem;
    color: var(--main_one);
    text-decoration: none;
}

.table-down a:hover {
    text-decoration: underline;
}
.table-down a:active{
    color: var(--text_one);
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        width: 95%;
    }

    .section-left {
        padding: 30px;
    }

    .section-right {
        padding: 20px;
    }
}