
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/*cores*/
:root {
    --background_color: #0d0d2b;
    --background_color_two: #131335;

    --main_one: #A40148;
    --main_two: #790034;
    --second_color: rgb(46, 46, 98);

    --text_one: #ffffff;
    --text_two: #bdbdbd;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background_color);
}

/*botão de voltar*/
.return{
    position: fixed;
    left: 40px;
    top: 15px;
    z-index: 3;
}

.return img:hover {
    transform: scale(1.1);
}
.return  img:active{
    transform:scale(0.9);
    filter: brightness(0) saturate(100%) invert(7%) sepia(91%) saturate(6405%) hue-rotate(328deg) brightness(106%) contrast(100%);
}
.quest-container{
    text-align: center;
    color: var(--text_two);
}

h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

h2 {
    font-size: 20px;
    margin-bottom: 80px;
}
h3 {
    font-size: 20px;
    margin-bottom: 50px;
    color: var(--text_one);
}
.buttom-container{
    margin-top: 5%;
}
.hexagon-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px; /* Altura fixa para evitar cortes */
    background: var(--text_one);
    color: var(--main_one);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px; /* Para espaçamento interno */
    box-sizing: border-box;
    cursor: pointer;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    overflow: hidden; /* Garante que o conteúdo respeite o formato */
    transition: background-color 0.1s, transform 0.1s;
}

.hexagon-button:hover  {
    background: var(--main_one);
    transform: scale(1.1);
    color: var(--text_one);
}
.hexagon-button:focus{
    background: var(--main_one);
    transform: scale(0.9);
    color: var(--text_one);
}
.hexagon-button:active {
    transform: scale(1.05);
}

.hexagon-button span {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.3; /* Ajusta a altura da linha */
    max-height: 100%;
    max-width: 100%; /* Limita o conteúdo interno ao hexágono */
    overflow: hidden;
    text-align: center;
}

.buttom-top ,.buttom-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
