# Dependências do Node.js
node_modules/

# Arquivos de log
*.log

# Arquivos de ambiente
.env

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de build e diretórios
dist/
build/

# Arquivos de sistema do editor de código
.idea/
.vscode/
